# azure-pipelines.yml

trigger:
- main  # Ejecuta este pipeline cada vez que haya un push a la rama 'main'

schedules:
- cron: "0 12 * * *"  # 6:00 AM (Ajustado a UTC)
  displayName: 'Ejecución Diaria 6am'
  branches:
    include:
    - main
  always: true 

pool:
  vmImage: 'ubuntu-latest' # Usa una máquina virtual con Ubuntu

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x' # Especifica la versión de Node.js que usa tu proyecto
  displayName: 'Install Node.js 18'

- script: |
    npm ci
  displayName: 'Install dependencies (npm ci)'

- script: |
    npx playwright install --with-deps
  displayName: 'Install Playwright browsers'


- script: |
    xvfb-run --auto-servernum --server-args='-screen 0 1280x960x24' npx playwright test tests/loginCookie.spec.js --headed
  displayName: 'Login cookie test (Headed Mode)'


- script: |
    xvfb-run --auto-servernum --server-args='-screen 0 1280x960x24' npx playwright test tests/TimeSlotScraper.spec.js --headed
  displayName: 'Run TimeSlots test (Headed Mode)'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'reports/reporteSucursales.xml'
    mergeTestResults: true
    failTaskOnFailedTests: true
  displayName: 'Publish Test Results'
  condition: always()


- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'reports/reporteSucursales.pdf'
    ArtifactName: 'ReportePruebas'
    publishLocation: 'Container'
  displayName: 'Publicar PDF como Artefacto'
  condition: always()